body {
    background-color: white;
}
h1{
    color: navy;
    margin-left: 1%;
}
p{
    color: black;
    margin-left: 40%;
}
i{
    font-size: xx-large;
    color: deeppink;
    margin-left: 10cap;
}